@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box; /* ñ passar do tamanho do elemento pai */
}

body{
    background-color: #d4d4d4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

#calc{
     width: 310px;
     padding: 40px;
     background-color: #202124;
     border-radius: 10px;
     color: #fff;
     display: flex;
     flex-direction: column;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.502);
}

#operations{
    text-align: right;
    background-image: linear-gradient(#8b8888, #a8a4a4);
    box-shadow: inset 3px 2px 0 rgb(215, 207, 207);
    border-radius: 5px;
}

#previous-operation{
    padding: 0.5em;
    overflow-wrap: break-word;
    min-height: 1.5em;
    color: white;   
}
#current-operation{
    min-height: 0.5em;
    font-size: 1.2em;
    overflow-wrap: break-word;
}

#buttons-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ; /*divido em frações (colunas)*/
    gap: 5px;    
}

#buttons-container button{
    border: 1px solid transparent;
    height: 2.8em;
    border-radius: 5px;
    background-color: #2f3235;
    color: #fff;
    cursor: pointer;    
}

#buttons-container button:hover{
    background-color: #515558;
    
}

#buttons-container .num-btn{
    background-color:  #515558;
}

#buttons-container .num-btn:hover{
    background-color: #2f3235;

}

#buttons-container #equal-btn{
    background-color: #2f3235;
    grid-column: span 2; /* Ocupar dois espaços*/
}

#buttons-container #equal-btn:hover{
    background-color: #515558;
}